doctype html 
html 
    head 
        title Website | Add article
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    body 
        div 
            container 
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='/') BloggerHub
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/auth/logout') Logout
        h3 Add article
        hr
        #error
            if (error)
                p(style={color:"red"}) #{error}
        form(action="/article/add" method="post")
            label(for ="blogTopicId") Topic: 
            select(name='blogTopicId')
                each topic in topics
                    option(value=topic._id)= topic.topicName
            br
            label(for ="blogTitle") Title:
            input(type="text" name="blogTitle")
            br
            label(for ="blogContent") Content: 
            textarea(name='blogContent')
            br
            br
            input(type="Submit", value="Post blog")
            