doctype html
html 
    head 
        title Admin Dashboard
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    Body
        div 
            container 
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='/') BloggerHub
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/auth/logout') Logout
        h1 Admin Dashboard
        h5 
            a(href="/article/manage/topics") Manage Topics
        h5 
            a(href="/user/admin/topicmanagers/manage") Manage Topic Managers
        h5 
            a(href="/user/admin/manage/users") Manage Users