doctype html
html 
    head 
        title Manage Topics
    Body
        div 
            container 
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='/') BloggerHub
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/auth/logout') Logout
        h1 Manage Topics
        #error
            if (error || type)
                p(style={color:"red"}) #{message}
        br
        a(href="/auth/logout") Logout
        h3 
            a(href="/article/add/topic") Add Topics
        hr 
        h1 Topic List
        each topic in topics
            h3= topic.topicName