doctype html
html 
    head 
        title User Dashboard 
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    Body
        div 
            container 
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href='/') BloggerHub
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href='/auth/logout') Logout
        h1 User Dashboard
         #error
            if (error || type)
                p(style={color:"red"}) #{message}
        h3 
            a(href="/article/manage") Manage Articles
        br
        a(href="/auth/logout") Logout